<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Cook and Go</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="keywords" content="cuisine, 974, cours, atelier, réunion, patisserie">
    <meta name="Description" content="Plus qu’un cours de cuisine, c’est dans un espace convivial, chaleureux et tout équipé qui vous attend. Vous serez guidés avec pédagogie et générosité par des professionnels, heureux de vous faire partager leur métier, leur passion et leur savoir faire afin de vous faire découvrir les trucs et astuces pour cuisiner comme un vrai chef, et surtout avoir la satisfaction de l’avoir fait soi-même">
    <meta name="category" content="cook">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
