<% include partials/head.ejs %>
  <body class="bg-orange">
    <% include ./partials/header.ejs %>
      <div class="container-fluid ">

        <div class="container bg-light border-top-red mb-5 pt-5 pb-5 mt-3">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="/img/food1.jpg" alt="First slide">

<html>
 
      <% include partials/head.ejs %>
   
  
  <body class="bg-orange">
        <% include ./partials/header.ejs %>
    <div class="container-fluid ">
  
    <div class="container bg-light border-top-red mb-5 pt-5 pb-5 mt-3">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/food1.jpg" alt="First slide">
           
          </div>


          <!-- NE PAS AJOUTER DE type="button" sur un a quand il y a bootstrap de charger -->
          <!-- Il génère une difference entre chrome et firefox -->
          <p class="lead"> Vous voulez proposez votre propre atelier et vous êtes cuisinier. Cliquez sur le bouton ci-dessous </p>
          <a href="/cuisiniers/auth" class="btn btn-danger mt-3 text-uppercase">
            <i class="fas fa-utensils mr-3"></i> Je suis cuisinier </a>

          <div class="container">
            <div class="row">
              <h1 class="text-center ">Formations disponible :</h1>
            </div>
          </div>
          <div class="row mx-auto">

            <div class="col-md-4 pb-3 pt-3 ">
              <div class="card">
                <div>
                  <img src="/img/" class="card-img-top img-fluid">
                </div>
                <div class="card-body text-center">
                  <h5 class="font-weight-bold">

                  </h5>
                  <div class="row justify-content-center">
                    date de début:
                  </div>
                  <a href="particuliers/auth" class="btn btn-danger mt-3 text-uppercase">RESERVER</a>
                </div>
              </div>
            </div>

          </div>
          <div class="text-center">
          <h1 >Bienvenue !</h1>
          <p>Nos Ateliers Cuisines</p>

          <a  role="button" href="/ateliers" class="btn btn mt-3 text-uppercase">
            <i class="fas fa-utensils mr-3"></i>  Decouvrir nos ateliers  </a>
            <hr>
        </div>
        </div>

      </div>

      <% include ./partials/footer.ejs %>
  
