
 
      <% include partials/head.ejs %>
   
  
  <body class="bg-orange">
        <% include ./partials/header.ejs %>
    <div class="container-fluid ">
  
    <div class="container bg-light border-top-red mb-5 p-md-5 pb-5 mt-3">
    <div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/img/food1.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/img/food2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/img/food3.jpg" alt="Third slide">
              </div>
            </div>
          </div>
          <div class="text-center">
                <h1 >Bienvenue !</h1>
                <p>Nos Ateliers Cuisines</p>
      
                <a  role="button" href="/ateliers" class="btn btn mt-3 ">
                  <i class="fas fa-utensils mr-3"></i>  Decouvrir nos ateliers  </a>
                  <hr>
              </div>


          <!-- NE PAS AJOUTER DE type="button" sur un a quand il y a bootstrap de charger -->
          <!-- Il génère une difference entre chrome et firefox -->
          <p class="lead"> Vous voulez proposez votre propre atelier et vous êtes cuisinier. Cliquez sur le bouton ci-dessous </p>
          <a href="/cuisiniers/auth" class="btn btn-danger mt-3">
            <i class="fas fa-utensils mr-3"></i> Créer mon atelier</a>

         

          </div>
       
        </div>

      </div>

      <% include ./partials/footer.ejs %>
  
