
            <!--******************************************************-->

            <!-- PAGE LISTE LES ATELIERS ACTIFS-->

            <!--******************************************************-->
            <!DOCTYPE html>
            <html>
            
            <head>
              <title>
                <%= title %>
              </title>
              
              <% include ../partials/head.ejs %>
            </head>
            <% include ../partials/header.ejs %>
            
              <body>
                         
                <div class="container">
                  <div class="row ">
                      <div class="col-sm-12 col-md-12">            
                          <div class="jumbotron mt-5 text-center">
                            <p class="lead">
                              Votre reservation à bien été pris en compte
                            </p>
                            <hr class="my-4">
                            <a class="btn btn-lg" href="/ateliers" role="button">Retour a l'accueil</a>
                          </div>
                      </div>
                  </div>
                </div>
              </body>
              <% include ../partials/footer.ejs %>
            </html>